.postDetailContainer {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 700px;
  height: 400px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: white;
}

.postDetailContainer * {
  opacity: 1;
}

.postDetailContainer .postImgDiv {
  position: relative;

  width: 50%;
  height: 100%;

  background-color: red;
}

.postDetailContainer .postImg {
  width: 100%;
  height: 100%;

  border: 0px;
}

.postDetailContainer .postImgLeftButton {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(0%, -50%);

  background-color: transparent;

  border: 0px;

  font-size: 30px;
}

.postDetailContainer .postImgRightButton {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(0%, -50%);

  background-color: transparent;

  border: 0px;

  font-size: 30px;
}

.postDetailContainer .postContentDiv {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.postDetailContainer .userProfile {
  height: 35px;
  width: 96%;
  height: 10%;

  border-bottom: 1px solid gainsboro;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.postDetailContainer .block {
  width: 5px;
}

.postDetailContainer .userImg {
  height: 30px;
  width: 30px;

  border: 1px solid black;
  border-radius: 15px;
}

.postDetailContainer .Comment {
  height: 70%;
  width: 96%;

  display: flex;
  flex-direction: column;
  overflow-y: scroll;

  border-bottom: 1px solid gainsboro;
}

.postDetailContainer .CommentUserProfile {
  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.postDetailContainer .userState {
  font-size: 20px;
  width: 96%;
  height: 10%;

  display: flex;
  flex-direction: row;
  align-items: center;

  border-bottom: 1px solid gainsboro;
}

.postDetailContainer .heartState,
.postDetailContainer .lastComment,
.postDetailContainer .moreComment .postDetailContainer .userName {
  font-size: 11px;
}

.postDetailContainer .lastCommentUser,
.postDetailContainer .userName,
.heartState {
  font-weight: bold;
}

.postDetailContainer .writeComment {
  width: 96%;
  height: 10%;
  border: 0px;
}

.postDetailContainer .writeComment::placeholder {
  font-size: 11px;
  color: black;
}
